.item_button {
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.5px;

  &:visited {
    color: #fff;
  }
  &:hover {
    color: #e4cd85;
  }
}
.menu_button {
  border: none;
  color: #fff;
  width: 100%;
  cursor: pointer;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.sub_menu_item {
  width: 200px;
  border: none;
  border-radius: none;
  padding: 0 10px;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  &:hover {
    font-weight: 700;
    background-color: gray;
  }
}
.sub_menu_link {
  font-size: 16px;
  color: #fff;
  display: inline-block;
  line-height: 30px;
  width: 100%;
}
