@use '../styles/layouts.scss' as layouts;
@use '../styles/colors.scss' as colors;
.jombo_image_wrapper {
  background-color: colors.$white_color;
}
@keyframes colorChange {
  50% {
    opacity: 0.5;
  }
}
.main_content {
  background-color: colors.$white-color;
  color: colors.$black_color;
  height: calc(100vh - 220px);
}
