$black_color: #000;
$white_color: #fff;
.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 101;
  margin: 0;
  width: 300px;
  color: $black_color;
}
.header_wrapper {
  display: grid;
  grid-template-columns: 1fr 17px;
  grid-gap: 10px;
  align-items: center;
  background-color: #5a5a5a;
  padding: 5px 12px 5px 5px;
}
.menu_wrapper {
  padding: 10px;
}
.submenu_wrapper {
  margin-bottom: 10px;
}
.close_icon {
  cursor: pointer;
  color: $white_color;
  font-size: 17px;
  max-height: 17px;
}
.chevron_icon {
  cursor: pointer;
  color: $black_color;
  font-size: 13px;
  max-height: 13px;
}
.menu_item {
  display: grid;
  grid-template-columns: 1fr 18px;
  align-items: center;
  cursor: pointer;
  padding: 8px 0;
  font-weight: 600;
  border-bottom: 1px solid lightgrey;
}
.submenu_item {
  text-align: left;
}
.custom_link {
  display: inline-block;
  border-bottom: 1px solid lightgrey;
  // line-height: 30px;
  padding: 6px 0;
  padding-left: 10px;

  width: 100%;
  text-decoration: none;
  color: #000;
  &:hover {
    color: $white_color;
    background-color: #5a5a5a;
  }
}
