@mixin flexProp(
  $horizintalAlign: center,
  $verticalAlign: center,
  $direction: row,
  $gap: 10px
) {
  display: flex;
  justify-content: $horizintalAlign;
  align-items: $verticalAlign;
  flex-direction: $direction;
  gap: $gap;
}
@mixin gridProp($verticalAlign: center, $template: 1fr 1fr, $gap: 10px) {
  display: grid;
  grid-template-columns: $template;
  align-items: $verticalAlign;
  gap: $gap;
}
