// @use '../../styles/globals.scss' as global;
$black-color: #000000;

@mixin flexProp(
  $horizintalAlign: center,
  $verticalAlign: center,
  $direction: row,
  $gap: 10px
) {
  display: flex;
  justify-content: $horizintalAlign;
  align-items: $verticalAlign;
  gap: $gap;
}
.wrapper {
  @include flexProp;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: $black-color;
  width: 100% !important;
  z-index: 100;
  height: 100px;
  padding: 0 20px;
  @media (max-width: 550px) {
    padding: 0 5px;
  }

  /* border-bottom: 1px solid #e8e8e8; */
}
